<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Sora-Bold.ttf</string>
		<string>Sora-Regular.ttf</string>
		<string>Sora-SemiBold.ttf</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>This app needs access to your health data (heart rate and steps) to provide personalized insights.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>This app needs access to update your health data.</string>
</dict>
</plist>
