* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Sora', sans-serif;
}

.breathing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #1E2A38;
    background-repeat: no-repeat;
    background-size: 150% 150%;
    background-position: center center; 
    animation: breatheBackground 2.5s ease-in-out infinite;
}

.moon {
    height: 90px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @keyframes breatheBackground {
    0%, 100% {
        background-size: 100% 100%; 
        opacity: 1;
    }
    35% {
        background-size: 105% 105%;
        opacity: 0.95;
    }
    70% {
        background-size: 135% 135%;
        opacity: 0.95;
    }
} */

.continue_container {
    display: flex;
    margin-bottom: 2rem;
    margin-top: auto; 
    justify-content: center;
}

.continue_class {
    text-align: center;
    color: #A0A3B4;
    background-color: #2F2F37;
    padding: 1rem 8rem 1rem 8rem;
    border-radius: 4rem;
    border: none;
    font-family: 'Sora', sans-serif;
}

.continue_container button:hover {
    background-color: #7C6FF0;
    color: white;
}

.main_content {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: 1rem;
}

/* OTHER STUFF */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0rem 1.5rem 0rem;
}

#settings {
    margin-left: 2rem;
}

#profile {
    margin-right: 2rem;
}

#line_break {
    border-bottom: #F5F7FA1A solid 0.1em;
    width: 100%;
    margin-top: -0.5rem;
}

#button_container {
    display: flex;
    margin: 0 auto;
}

.john,
.gray {
    background-color: rgba(43, 61, 79, 0.4);
    border: none;
    padding: 1rem;
    display: flex;
    width: 22rem;
    justify-content: space-between;
}

#jj {
    font-size: 1.6em;
    font-weight: bold;
}

#arrow {
    float: right;
}

/* MAIN STUFF */

#reminder_title {
    margin: 2.5rem 0rem 1rem 2rem;
    font-size: 1em;
    color: #A5BED4;
}

#full_notifs {
    margin: -1rem auto 0rem auto;
}

.gray {
    margin-top: 1.2rem;
    color: #F5F6F8;
    font-weight: 400;
}