* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Sora', sans-serif;
}

.breathing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #1E2A38;
    background-repeat: no-repeat;
    background-size: 150% 150%;
    background-position: center center; 
    animation: breatheBackground 2.5s ease-in-out infinite;
}

/* @keyframes breatheBackground {
    0%, 100% {
        background-size: 100% 100%; 
        opacity: 1;
    }
    35% {
        background-size: 105% 105%;
        opacity: 0.95;
    }
    70% {
        background-size: 135% 135%;
        opacity: 0.95;
    }
} */

.main_content {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: 1rem;
}

/* OTHER STUFF */

.header {
    position: sticky;
    top: 0;
    background-color: #1E2A38;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem 1.5rem 0rem;
}

#settings {
    margin-left: 2rem;
}

#profile {
    margin-right: 2rem;
}

.line_break {
    border-bottom: rgb(41, 48, 53) solid 0.2rem;
    width: 100%;
    margin: 0 auto;
}

#button_container {
    display: flex;
    margin: 0 auto;
}

.john,
.gray {
    background-color: rgba(43, 61, 79, 0.4);
    border: none;
    padding: 1rem;
    display: flex;
    width: 22rem;
    justify-content: space-between;
}

#jj {
    font-size: 1.6em;
    font-weight: bold;
}

#arrow {
    float: right;
}

/* MAIN STUFF */

#reminder_title {
    margin: 2.5rem 0rem 1rem 2rem;
    font-size: 1em;
    color: #A5BED4;
}

#full_notifs {
    margin: -1rem auto 0rem auto;
}

.gray {
    margin-top: 1.2rem;
    color: #F5F6F8;
    font-weight: 400;
}

.delete p {
    color: rgb(255, 49, 49);
}

.main_icons {
    margin: 0;
    padding: 0;
}

.icon_text {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* FOOTER STUFF */

.footer_col {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border: none;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.static {
    color: #76778C;
}

.lb_two {
    margin-top: 1.5rem;
}